* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* shared styles */
.hide {
    display: none;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    padding: 1.25rem 1.563rem;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.text-light-grey {
    color: #727272;
    font-weight: 400;
    font-size: 1rem;
}

/* header part ,,,,,,,,,,,,,*/
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;



}

nav li {
    list-style: none;
    margin-left: 30px;
    font-size: 1rem;
    font-weight: 500;

}

nav a {
    text-decoration: none;
    color: #424242;
}

.section-title {
    color: #131313;
    font-weight: 700;
    font-size: 2.8rem;
}

/* banner section,,,,,,,,,, */
.banner {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-description {
    text-align: center;
    color: #727272;
    font-size: 1rem;
    font-weight: 400;

}

.banner-title {
    color: #131313;
    /* text-align: center; */
    font-size: 4rem;
    font-weight: 700;
}

.banner img {
    margin-top: 20px;
    width: 100%;
}



/* main styles */
main {
    max-width: 1440px;
    margin: 0 auto;
}

/* teams styles */
.teams-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px auto;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding-left: 70px;
    padding-right: 70px;
}

.teams-title {
    font-size: 2.813rem;
}

.quick-list {
    color: #727272;
    font-weight: 500;
}

.of-our {
    color: #131313;
    font-weight: 700;
}

.features {
    color: #FF900E;
    font-weight: 700;
}

/* feature section */

.features-container {
    display: flex;
    margin-top: 130px;
    gap: 100px;
}

.feature-card {
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.feature-content .section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.ten-years-badge{
    border-radius: 8px;
background: #FF900E;
padding: 40px;
width: 342px;
}
.ten-years-badge h2{
    color: #FFF;
    font-size: 4.06rem;
    font-weight: 700;
}
.ten-years-badge p{
    color: #FFF;
    font-size: 1.56rem;
    font-weight: 500;
}


/* facts section */
.facts-card-container {
    display: flex;
    justify-content: space-around;
}

.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
}

.facts-card-container .card-stats {
    font-size: 2.8rem;
    color: #424242;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

.facts-card-container .card-title {
    color: #727272;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 5px;
}

/* sponsors styles */

.our-sponsors {
    text-align: center;
}

.sponsors-img-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}















/* responsive styles,,,,,,,, */
@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }

    .teams-container {
        display: flex;
        flex-direction: column;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
    }

    .teams-content {
        padding: 40px 20px
    }

    .facts-card-container {
        flex-direction: column;
        gap: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .sponsors-img-container {
        flex-direction: column;

    }

    .sponsor-images {
        padding: 20px 0;
        width: 165px;
    }
}

/* tablet or medium devices */
@media screen and (min-width:576px) and (max-width:960px) {
    header {
        padding: 50px;
    }

    nav,
    .teams-container {
        flex-direction: column;
    }

    .facts-card-container .card {
        margin: 10px;
    }

    .facts-container .facts-container-description,
    .section-title {
        margin-bottom: 10px;
        padding-left: 10px;
    }

    .sponsor-images {
        padding: 0px 10px;
        width: 140px;

    }
}